:host {
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: block;
  background-color: #bf2600;
  border-radius: 5px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;

  h1, h2 {
    margin: 0;
    padding: 0;
  }

  hr {
    margin: 1.5rem 0;
    border: none;
    height: 2px;
    background: rgba(235, 236, 240, 0.5);
  }

  .title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .message {
    font-size: 1rem;
    font-weight: 400;

    strong {
      font-weight: 600;
    }
  }

  .debug {
    font-size: 0.75rem;
    background-color: transparent !important;
    color: #fff !important;
  }
}
