:host {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  code {
    &.param {
      margin: 0px 0.2em;
      background-color: rgb(234, 243, 242);
      color: rgb(94, 132, 129);
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 1.4;
      border-radius: 3px;
    }

    &.type {
      padding: 0px 0.2em;
      background-color: rgb(244, 245, 247);
      color: rgb(94, 108, 132);
      display: inline-block;
      border-radius: 3px;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 1.4;

      &.name {
        margin-right: 0.6rem;
        background-color: rgb(222, 235, 255);
        color: rgb(7, 71, 166);
      }

      &.reference {
        background-color: rgb(234, 230, 255);
        color: rgb(64, 50, 148);
      }

      &.signature {
        margin-right: 0.6rem;
        background-color: rgb(234, 243, 242);
        color: rgb(94, 132, 129);
      }

      &.default {
        background-color: transparent;
        white-space: pre;
      }

      &.required {
        margin-left: 0.6rem;
        background-color: transparent;
        color: rgb(191, 38, 0);
      }

      &.deprecated {
        margin-right: 0.6rem;
        background-color: transparent;
        color: rgb(191, 38, 0);
      }
    }
  }

  .property {
    margin: 0 0 2rem 0;

    &.deprecated * {
      opacity: 0.6;
    }

    .title {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid #f4f5f7;
    }

    .description {
      font-size: 14px;

      markdown {
        display: block;
        margin-top: -0.5rem;
      }
    }
  }
}
