<div class="container">
  <h1 class="title">{{ config.title }}</h1>
  <p
    *ngIf="config.features.showShortDescription && config.shortDescription"
    class="short-description"
  >
    {{ config.shortDescription }}
  </p>

  <ul class="tags">
    <li *ngFor="let tag of config.tags">
      <div class="tag-name">{{ tag.tag }}</div>
      <div [ngSwitch]="!!tag.href" class="tag-label">
        <a *ngSwitchCase="true" [href]="tag.href" target="_blank">{{ tag.label }}</a>
        <span *ngSwitchDefault>{{ tag.label }}</span>
      </div>
    </li>
  </ul>

  <hr />

  <ng-container *ngIf="config.features.showChangelog && config.changelog.length > 0">
    <storybook-addon-overview-changelog [changelog]="config.changelog"></storybook-addon-overview-changelog>
    <hr />
  </ng-container>

  <ng-container *ngIf="config.features.showLongDescription && config.longDescription">
    <markdown>{{ config.longDescription }}</markdown>
  </ng-container>

  <ng-container *ngIf="config.features.showUsage">
    <storybook-addon-overview-example [title]="'Example'" [source]="config.source">
      <ng-content></ng-content>
    </storybook-addon-overview-example>
  </ng-container>

  <ng-container *ngIf="config.features.showInputs || config.features.showOutputs">
    <h2>Properties</h2>

    <ng-container *ngIf="config.features.showInputs">
      <h3>Inputs</h3>
      <storybook-addon-overview-properties [props]="config.inputs" [exported]="config.exports"></storybook-addon-overview-properties>
    </ng-container>

    <ng-container *ngIf="config.features.showOutputs">
      <h3>Outputs</h3>
      <storybook-addon-overview-properties [props]="config.outputs" [exported]="config.exports"></storybook-addon-overview-properties>
    </ng-container>
  </ng-container>
</div>
